.noscript {
    background-color: white;
    text-align: center;
}

body {
    background-color: rgb(39, 39, 39);
    overflow: hidden;
}

#viewport {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-direction: row;
}

#gameFigure {
    flex: 1;
}

#console {
    flex: 1;
    font-family: "Metrickal";
    line-height: 130%;
    height: 14em;
    background: black;
    color: white;
    padding: 0.5em 1em;
    text-align: left;
}

@font-face {
    font-family: Metrickal;
    src: url(../client/Metrickal-Regular.otf);
}