.noscript {
    background-color: white;
    text-align: center;
}

body {
    background-color: rgb(39, 39, 39);
    overflow: hidden;
}

#viewport {
    display: flex;
    gap: .5vw;
    justify-content: flex-start;
    align-content: stretch;
    flex-direction: row;
}

#gameFigure {
    flex: 1;
}

#console {
    flex: 1;
    display: flex;
    max-height: 35vh;
    height: 35vh;
    flex-direction: column-reverse;
    font-family: "Metrickal";
    line-height: 130%;
    background: black;
    color: white;
    padding: 0.5em 1em;
    white-space: normal;
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: left;
    user-select: none;
}

#console::-webkit-scrollbar {
    display: none;
}


@font-face {
    font-family: Metrickal;
    src: url(../client/Metrickal-Regular.otf);
}

.tooltip {    
    position: absolute;
    background: #222222;
    border-radius:4px;
    padding: 3px 6px;
    font-family: Metrickal;
    font-size: 16px;
    color: #b9b9b9;
  }
  .tooltip:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #222222;
    position:absolute;
    bottom:-5px;
    left:5px;
  }