.noscript {
    background-color: white;
    text-align: center;
}

body {
    background-color: rgb(39, 39, 39);
    overflow: hidden;
}

#viewport {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-direction: row;
}

#gameFigure {
    flex: 1;
}

#console {
    flex: 1;
    display: flex;
    max-height: 35vh;
    height: 35vh;
    flex-direction: column-reverse;
    font-family: "Metrickal";
    line-height: 130%;
    background: black;
    color: white;
    padding: 0.5em 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: left;
}

#console::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Metrickal;
    src: url(../client/Metrickal-Regular.otf);
}